files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDnTCCAoUCFEjecQKv0VQRwdtAicQm7ZRkaUPvMA0GCSqGSIb3DQEBCwUAMIGK
      MQswCQYDVQQGEwJWTjEUMBIGA1UECAwLSG8gQ2hpIE1pbmgxDTALBgNVBAcMBEhD
      TUMxCzAJBgNVBAoMAk5BMQswCQYDVQQLDAJOQTEWMBQGA1UEAwwNaG9hbmd0aGlu
      aC5tZTEkMCIGCSqGSIb3DQEJARYVdGhpbmhsaDA4MTJAZ21haWwuY29tMB4XDTIx
      MTIwNjE1NDM1NloXDTIyMTIwNjE1NDM1NlowgYoxCzAJBgNVBAYTAlZOMRQwEgYD
      VQQIDAtIbyBDaGkgTWluaDENMAsGA1UEBwwESENNQzELMAkGA1UECgwCTkExCzAJ
      BgNVBAsMAk5BMRYwFAYDVQQDDA1ob2FuZ3RoaW5oLm1lMSQwIgYJKoZIhvcNAQkB
      FhV0aGluaGxoMDgxMkBnbWFpbC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAw
      ggEKAoIBAQCxgsCP8fL18+THJX4yeOiVSsaWOhlbsPmt6crf+zfqh5D+KSbXaxsY
      S5yc7ziIkJTbOSLAxtLhfJOveYHhlyQC5InsSkg7uuWMEqAfPkojCmyFNDCgW/f5
      wpbNLQ8BgtQoZlS2i9nLAT0LuvD9Vhq8NSk68udUA5dQKH2l6Am0IbOJkW4+Pvxs
      QjMcoScRtVsoJYDjRY4Y7xP35IRFg3VnMkS4UsDVPtYi0Gga8LzMPqk9mSEEEi+P
      KlMfcambZ3V726gKlXArMAVbeqqHoYW1N7nvfrsyeLWko6ILDdIPiyASmuagKc+g
      o6ZOFOJAHTbUC8fIEaDKRCpp+hye2T0fAgMBAAEwDQYJKoZIhvcNAQELBQADggEB
      AGy80oxSPZ6BZOEByuCpClKcKSP77opyIuSbKqqnMHkco2Y6fOPRI+70tLv0qgYv
      By4fplxPigMK8s4nbMg4eTRT14zbpQC9R/kWPSM7n7wgmbcRbRuKbxali0zdgcG7
      bPpVtt9Q9r4gY/00wamd2fkXBajsVF8XqsWsQwHUB+52w5AW6U+lNxXm3froC1H7
      skeZC15xg0zLqSvNX7nOVhbJ4+RTCL+mKBuQKvGpNPz21ZebBab+AnKpuoL5b2lc
      HSr75WtvN4H2UCx4RJwALIN+aXexKLSLlSGobXNJ00C2pj5nwKN1bnBP1QmlEAaU
      FelGOnL0gpXylRa/HgE84AA=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCxgsCP8fL18+TH
      JX4yeOiVSsaWOhlbsPmt6crf+zfqh5D+KSbXaxsYS5yc7ziIkJTbOSLAxtLhfJOv
      eYHhlyQC5InsSkg7uuWMEqAfPkojCmyFNDCgW/f5wpbNLQ8BgtQoZlS2i9nLAT0L
      uvD9Vhq8NSk68udUA5dQKH2l6Am0IbOJkW4+PvxsQjMcoScRtVsoJYDjRY4Y7xP3
      5IRFg3VnMkS4UsDVPtYi0Gga8LzMPqk9mSEEEi+PKlMfcambZ3V726gKlXArMAVb
      eqqHoYW1N7nvfrsyeLWko6ILDdIPiyASmuagKc+go6ZOFOJAHTbUC8fIEaDKRCpp
      +hye2T0fAgMBAAECggEAA2zK61wXPICisub5yt6DWlIRh9eCIr9E6gKfS/gMaaWI
      +iZwHeruoGbhFDQXaqcjgCFXltGfQwOE0/drtp8Ubkvbj2gVgbWG9U9ssH2ir49l
      baKGp6lunO6Qu0+5wOU107u5ubX0E1MoSuAmAzVUmboK3BzQstHI6x6E4h0ahtOx
      ZJaca3BBmdeMJ/7faf/Ad5wPueQtJGDCjGnQSvnuciowR6HdmPBAqVJvXaXqpSFw
      GVtn7G+4cL3+ySiGj8c0GqJTeY/pYiYP9vjB91k/9S3/F3a6Feci40QPtCuRwCM5
      vPw/fl8mrt/tZLy3+tcLpmzxXGORaAGzeIljF8PGOQKBgQDkkB+51H/smHNoA8QP
      qGDuTWfr9nL8d91135l5mGu3KB8ZS+ZjiOuS8f1znqHLsdT3DS2zJJfnjonjSHIL
      Ycd9CMQAY8WWn9A6iUKrcG3KhubxRhxpEaPPnr6rkEdnQiMHlFNE9/ONqIG8UyuE
      grdg5Wg2flpDUjZ5pLpmxlUpaQKBgQDG0cNKhVhpMJoOGZD86o/AFxC4qtfTajlq
      B55o9bo57MBG5FiuHbDGXT4ddxazwDQzzLYTtnO5/YBxoXz+Bj/uXCDYKVCeuFRU
      rwxhdefZ3dmv+HpnDkMtAIorX7FG7TJEyZg2IY1m6VTGuGIvkanCmppMSTl7UMGS
      wnF8uUOZRwKBgQCt2NHIztDebLabDwI5xqCzoTzCRZoAXkucNI7P5hdIIMRGwWxj
      mOlVw6o8HxSBkqmhn+x6rgK8pbZLofbcoWrSt7Ade8X2Y2hGndCQBdv8h89xBRrm
      7/vhF6V/aSZma++o/DC57L7bqKfFTp1zFNnWYad6i3CsdAPrUlhVg9WSwQKBgCfj
      FWbx8ZbI5V9Gycuz0zsaZYRm4f3MJdCbzrAH/GB6muieDxx/YGOreTa4GZneSZrK
      ywyRYg5CSW6Ck2zzHAhZ+0zinQX6vRBwPe+fk/AljfK7yvK57cgtf4rMG+i61Ybv
      WtYhTRkEXrmvbCNW+dPM6H+9gQa4YN1snRAEqwcpAoGAB2N18MSU0rxFl0O2lVs3
      2FFMzyySGDoRYBH8nJ50ZRXGooRzL3Mx807yaLqTOV6RhQExdxXydyOEZ09VsWcu
      lZ14Z5xs8N749mHQuHjCUKYFoiEDJ4dxF4x3C1bef7KhZtUtVi2l3+4mkee0Q81X
      PqwzrCMXIM65tcEyTDtYu+g=
      -----END PRIVATE KEY-----